.topic-btn {
  font-family: "Kite One", sans-serif;
  font-size: 1.1rem;
  color: black;
  font-weight: 200;
  background-color: #ff5733;
  padding: 10px;
  border: none;
  margin: 18px 7cm;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.topic-btn:hover {
  background-color: #ff5733;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;

  cursor: pointer;
}

@media (max-width: 1028px) {
  .topic-btn {
    margin: 18px 4cm;
  }
}

@media (max-width: 628px) {
  .topic-btn {
    width: 6cm;
    margin: 18px 4cm;
  }
}

@media (max-width: 563px) {
  .topic-btn {
    width: 8cm;
    margin: 12px 1cm;
  }
}

@media (max-width: 430px) {
  .topic-btn {
    width: 7cm;
    margin: 8px 1cm;
  }
}
