.dashboard-content {
  padding: 1rem 2rem;
}

.card-section {
  background-color: rgba(255, 139, 116, 0.52);
  border-radius: 12px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.section-title {
  font-family: "Jacques Francois Shadow", serif;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 1rem;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.welcome-text {
  font-family: "Kite One", sans-serif;
  font-size: 1.1rem;
  color: black;
}

.learning-card-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.user-text {
  font-family: "Kite One", sans-serif;
  font-size: 2rem;
  color: black;
  font-weight: 200;
}

@media (max-width: 1100px) {
  .user-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .card-section {
    min-width: 80vw;
    margin-bottom: 2rem;
  }
  .dashboard-content {
    padding: 1rem 1rem;
  }
}
