:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #f2d2bd;
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

body::-webkit-scrollbar {
  display: none;
}
